/* Reseteo universal */
*{
    margin: 0;
    padding: 0;
}

.grid-container{
    Border: solid; 
    margin:  0px;
    /* habilitar grid / la grilla */
  display: grid;
    /* declaro filas */
    grid-template-rows:  200px 200px 200px ;
    /* declaro columnas */
    /*grid-template-columns:200px 200px 200px;*?/
    /*grid-template-columns: 33.3% 33.3% 33.3%;*/
    /*grid-template-columns: auto auto auto auto;*/
    
    /* fr */
    grid-template-columns: 1fr 1fr 1fr;
       
}

.grid-item{
  
     border: solid 2px #f8cb87;
     background-color: #f9f9aa;
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 20px;
     text-align: center;


}